.sticky-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding-top: 10px;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transition-duration: .7s;
  transition-property: height, top;
  text-align: center;
  background-image: url('../img/bg-green.jpg');
  box-shadow: 0 1px 10px 0 $shadow;

  @include max(1023) {
    height: 60px;
    padding: 0;
    .container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &.active {
    height: 100vh;

    @include max(750) {
      .menu__list {
        height: 100vh;
      }
    }
    .menu__list {
      padding-top: 70px;
    }
    .menu__item {
      transition: .5s;
      opacity: 1;
    }
  }
}
.sticky-header.scrolling {
  height: 100px;

  @include max(1023) {
    height: 60px;
  }
  &.active {
    height: 100vh;

    @include max(750) {
      .menu__list {
        height: 100vh;
      }
    }
  }
}
.sticky-header.hide {
  top: -170px;
}
.header__phone {
  font-family: $font-title;
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 18px;
  display: none;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-light;

  @include max(750) {
    display: flex;
  }
  @include max(375) {
    font-size: 16px;
  }
  &:hover {
    .header__phone-icon {
      display: inline-block;
      fill: $link-hover;
      animation: shakeHeaderPhone .3s infinite;
    }
  }
}
@keyframes shakeHeaderPhone {
  33% {
    transform: rotateZ(5deg);
  }
  67% {
    transform: rotateZ(-5deg);
  }
  10% {
    transform: rotateZ(5deg);
  }
}
.header__phone-icon {
  fill: $text-light;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: fill .5s;

  @include max(375) {
    width: 35px;
    height: 35px;
  }
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -40px 0 -30px 0;
  padding: 0;
  background-image: url('../img/bg-green.jpg');

  @include max(1023) {
    margin: 0;
    margin: -3px 0 0 0;
  }
  @include max(750) {
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    height: 0;
    padding-top: 0;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-duration: .7s;
    transition-property: height;
  }
}
.menu__item {
  margin-bottom: -30px;
  list-style: none;

  @include max(1023) {
    line-height: 60px;
  }
  @include max(750) {
    margin-bottom: -20px;
    transition: .3s;
    opacity: 0;
  }
}
.menu__link {
  font-family: $font-title;
  font-size: 34px;
  transition: all .5s;
  transition: text-shadow .5s ease;
  text-decoration: none;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: $text-light;
  text-shadow: 3px 3px 3px $shadow;

  @include max(1180) {
    font-size: 28px;
  }
  @include max(880) {
    font-size: 24px;
  }
  &:hover {
    color: $text-light;
    text-shadow: 2px 1px 2px $shadow;
  }
}
.menu__item:nth-child(4) {
  // .menu__item--logo {
  position: relative;
  margin: 0 -20px -45px -20px;
  padding: 40px;
  text-indent: -9999px;
  border-radius: 50%;
  background-image: url('../img/bg-green.jpg');

  @include max(1023) {
    display: none;
  }
  @include max(750) {
    display: block;
    margin: 0 0 -10px 0;
    padding: 0;
    text-indent: 0;
    background-image: none;

    order: -1;
  }
  &::before {
    position: absolute;
    z-index: -11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border-radius: 50%;
    box-shadow: 0 1px 10px 0 $shadow;

    @include max(750) {
      display: none;
    }
  }
}
// .menu__link--logo {
//   position: absolute;
//   z-index: 10;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   border-radius: 50%;
// }
.menu__item:nth-child(4) .menu__link {
  // .menu__logo {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #585858;
  background-image: url('../img/tryzub-light.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  box-shadow: 0 0 0 12px #585858,
  0 0 0 13px $light,
  0 0 0 17px #585858;

  @include max(750) {
    width: auto;
    height: auto;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
  }
}
