.top-header {
  display: flex;
  padding: 50px 0 50px 0;

  @include max(1023) {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
}

.top-header__left {
  position: relative;
  padding-right: 30px;

  @include max(1023) {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 0;
    text-align: center;
  }

  &::before,
  &::after {
    position: absolute;
    top: 3px;
    bottom: 6px;
    display: block;
    width: 2px;
    content: '';
    background-color: $text;

    @include max(1023) {
      display: none;
    }
  }
  &::before {
    right: 3px;
  }
  &::after {
    right: -3px;
  }
}

.top-header__right {
  padding-left: 30px;

  @include max(1023) {
    width: 100%;
    padding-left: 0;
  }
}

.top-header__title {
  font-family: $font-title;
  font-size: 100px;
  line-height: 1;
  margin-bottom: 5px;
  white-space: nowrap;
  text-transform: uppercase;

  @include max(1023) {
    font-size: 90px;
    margin-bottom: 0;
  }

  @include max(768) {
    font-size: 80px;
  }

  @include max(500) {
    font-size: 60px;
    white-space: wrap;
  }
}

.top-header__text {
  font-size: 14px;
  line-height: 1.4;
  margin: 5px 0;
  text-align: justify;

  @include max(768) {
    font-size: 13px;
    line-height: 1.3;
  }

  @include max(500) {
    font-size: 12px;
  }
}
