.blog__article {
  position: relative;
  overflow: hidden;
  width: 48%;
  height: 100%;
  max-height: 350px;
  margin-bottom: 40px;

  @include max(1023) {
    width: 100%;
    height: auto;
  }
  @include max(500) {
    margin-bottom: 60px;
  }
}

.blog__article-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  box-shadow: inset 0 -150px 150px -50px #b8b582;
}

.blog__article-pic-wrap {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 25px 10px 0;
  padding: 5px;
  background-color: $light;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .6),
  23px 0 20px -23px rgba(0, 0, 0, .6),
  inset 0 0 40px rgba(0, 0, 0, .1);

  @include max(500) {
    display: none;
  }
}

.blog__article-pic {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.blog__article-header {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 17px;
  &::before {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 11px;
    content: '';
    background-image: url('../img/underline.jpg');
    background-repeat: repeat-x;
    background-position: 0 0;
  }
}

.blog__article-link {
  font-family: $font-title;
  font-size: 22px;
  line-height: 1.2;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: $text;
}

.blog__article-autor {
  font-size: 11px;
  text-transform: uppercase;
  a {
    position: relative;
    display: inline-block;
    padding-bottom: 1px;
    text-decoration: none;
    color: $highlight;
    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      margin: auto;
      content: '';
      transition: width .5s;
      background-color: $highlight;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}

.blog__article-date {
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin: 5px 13px 0 0;
  padding: 10px 2px 8px 2px;
  background-color: $text;
  span {
    font-family: $font-title-2;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $text-light;
  }
}

.blog__article-text {
  text-align: justify;
  p {
    font-size: 15px;
    line-height: 1.25;
  }
}

.blog__article-link-more {
  font-family: $font-title;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
