.blog__aside {
  width: 25%;
  margin-bottom: 30px;

  @include max(1023) {
    width: 100%;
    padding-top: 20px;
  }
}
.blog__aside-header {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 17px;
  &::before {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 11px;
    content: '';
    background-image: url('../img/underline.jpg');
    background-repeat: repeat-x;
    background-position: 0 0;
  }
}
.blog__aside-title {
  font-family: $font-title;
  font-size: 32px;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}
.blog__aside-subtitle {
  font-family: $font;
  font-size: 12px;
  text-transform: uppercase;
}
.blog__aside-item {
  margin-bottom: 30px;

  @include max(1023) {
    margin-bottom: 10px;
  }
}
.blog__search-form {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 470px;
}
.blog__search-input {
  width: 100%;
  padding: 10px 50px 10px 10px;
  border: 1px solid $text;
}
.blog__search-submit--wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  &:hover {
    .blog-section__search-svg {
      fill: $highlight;
    }
  }
  &::before {
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -25px;
    display: block;
    width: 0;
    content: '';
    pointer-events: none;
    border-top: 42px solid  transparent;
    border-right: 30px solid $text;
    border-bottom: 42px solid  transparent;
  }
}
.blog__search-submit {
  width: 30px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: $text;
}
.blog__search-svg {
  position: absolute;
  top: 11px;
  right: 13px;
  fill: $light;
  width: 22px;
  height: 22px;
  transition: fill .5s;
  pointer-events: none;
}



// BEGIN tag style
.blog__tag-list {
  display: flex;
  flex-wrap: wrap;
}
.blog__tag {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin: 0 13px 10px 10px;
  padding: 5px 10px;
  transition: color .5s;
  white-space: nowrap;
  text-decoration: none;
  color: $text-light;
  background-color: $text;
  &:hover {
    color: $text-highlight;
  }
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -11px;
    display: block;
    width: 0;
    content: '';
    border-top: 13px solid transparent;
    border-right: 11px solid $text;
    border-bottom: 13px solid transparent;
  }
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 5px;
    height: 5px;
    margin: auto;
    content: '';
    border-radius: 50%;
    background-color: $light;
  }
}
// // END tag style
