.footer {
  position: fixed;
  z-index: 5;
  right: 0;
  bottom: -1000px;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 10px 10px 8px 10px;
  transition: bottom 3s;
  transition-delay: 7s;
  background-color: #81b3b2;
  box-shadow: 0 1px 10px 0 $shadow;
  &.active {
    bottom: 0;
  }
}
.hero .footer {
  background-color: #81b3b2;
  background-image: url('../img/bg-green.jpg');
}
.about .footer,
.servis .footer,
.article .footer,
.services .footer {
  background-color: #d5d0bd;
  background-image: url('../img/bg-bezh.jpg');
}
.blog .footer {
  background-color: #b1ae7b;
  background-image: url('../img/bg-olive.jpg');
}
.links .footer {
  background-color: #cdcdcd;
  background-image: url('../img/bg-gray.jpg');
}
.contacts .footer {
  background-color: #3d3d3d;
  background-image: url('../img/bg-black.jpg');
  box-shadow: 0 1px 10px 0 $highlight;
}
.copyright__link,
.copyright {
  font-family: $font-title-2;
  font-size: 16px;
  transition: all .5s;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $text-light;
  text-shadow: 2px 2px 2px $shadow;
  &:hover {
    color: $link-hover;
    text-shadow: none;
    .copyright {
      color: $text-light;
      text-shadow: none;
    }
  }
}
