mixin popup-wrap(id, popupTitle)
  .popup-wrap(id= id)
    .popup__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
    .popup
      h3.popup__title #{popupTitle}
      block


//begin popup-service
.popup-layer
// begin popup-01
+popup-wrap('serv-01', 'Посвідчення довіреностей, припинення та скасування довіреностей')
  p Довіреністю є письмовий документ, що видається однією особою іншій особі для представництва перед третіми особами (ч. 3 ст. 244 Цивільного кодексу України).
  p Основними документами, що потрібні для посвідчення довіреності від фізичної особи є паспорт та реєстраційний номер облікової картки платника податків. Крім того Вам можуть знадобитися також відомості про особу представника, його місце реєстрації, а також інші відомості залежно від обсягу повноважень та специфіки дій щодо яких надається довіреність.
  p Для посвідчення довіреності від юридичної особи, зокрема, будуть необхідні:
  ul.custom-ul
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span реєстраційні документи юридичної особи (виписка з Єдиного державного реєстру юридичних осіб, фізичних осіб-підприємців та громадських формувань);
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span статут юридичної особи;
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span документи, на підставі яких призначено керівника;
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span паспорт керівника юридичної особи;
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span відомості про представника (представників);
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span перелік повноважень, що надається за довіреністю;
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span інші відомості та документи, точних перелік може відрізнятися залежно від особливостей повноважень які надаються.
// end popup-01

// begin popup-02
+popup-wrap('serv-02', 'Посвідчення заповітів')
  p Для посвідчення заповіту приватному нотаріусу надаються такі документи та відомості:
  ol.custom-ol
    li.custom-ol__li паспорт спадкодавця;
    li.custom-ol__li реєстраційний номер облікової картки платника податків;
    li.custom-ol__li відомості щодо майна, яке заповідається та наявні документи щодо такого майна (за можливості);
    li.custom-ol__li відомості про особу спадкоємця;
  p Оформлюючи заповіт, треба мати на увазі, що право власності на заповідане майно переходитиме до спадкоємця лише після смерті спадкодавця. В одному заповіті може бути зазначено декілька спадкоємців. Якщо Ви робите декілька заповітів щодо одного майна у різний час, то переважну силу матиме той заповіт, що складений пізніше.
// end popup-02

// begin popup-03
+popup-wrap('serv-03', 'Посвідчення правочинів про відчуження та заставу майна')
  p Нотаріус Гордієнко О.В. має право посвідчувати правочини про відчуження об'єктів нерухомості (квартир, будинків, земельних ділянок, тощо), якщо одна із сторін правочину зареєстрована в м. Києві, або якщо саме майно знаходиться в м. Києві. Правочини про відчуження рухомого майна посвідчуються нотаріусом незалежно від місця перебування майно (наприклад місця реєстрації автомобіля).
  p Для посвідчення правочину про відчуження нерухомого майна нотаріусу подаються такі документи:
  ul.custom-ul
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span паспорти та ідентифікаційні коди (реєстраційний номер облікової картки платника податків) сторін правочину, якщо це фізичні особи;
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span документи, що підтверджують право власності на нерухоме майно, та реєстрацію цього права;
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span експертний звіт про оцінку нерухомості;
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span згода подружжя, відповідно, на придбання або відчуження майна, якщо воно придбавалося або відчужується під час перебування сторони правочину у шлюбі;
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span згода органу опіки та піклування (якщо стороною правочину є особа до 18 років або якщо така особа зареєстрована в квартирі чи будинку, що відчужується);
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span документи про склад зареєстрованих осіб;
    li.custom-ul__li
      svg
        use(xlink:href="assets/img/sprite.svg#checkmark")
      span при відчуження земельних ділянок подаються також Витяг з державного земельного кадастру та довідка про наявність чи відсутність обтяжень.
  p Необхідно взяти до уваги, що наведений перелік не є вичерпним. В кожному окремому випадку нотаріус на попередній консультації повідомляє сторонам про документи, що будуть необхідні для угоди залежно від особливостей правочину чи майна.
// end popup-03

// begin popup-04
+popup-wrap('serv-04', 'Реєстраційні послуги')
  p Нотаріус надає послуги з державної реєстрації права власності та інших речових прав на нерухоме майно (у тому числі новозбудоване), а також державної реєстрації юридичних осіб та фізичних осіб-підприємців.
  p Послуги з державної реєстрації прав на нерухоме майно, а також обтяжень та іпотеки нерухомого майна надаються щодо нерухомого майна, розташованого на території міста Києва (крім випадків, коли державна реєстрація здійснюється в результаті вчинення нотаріальної дії).
  p Послуги з державної реєстрації юридичних осіб та фізичних осіб-підприємців надаються виключно щодо осіб, місцезнаходженням яких є місто Київ.
  p Послуги з державної реєстрації юридичних осіб та фізичних осіб-підприємців надаються як щодо створення юридичної особи/реєстрації фізичної особи-підприємця, так і щодо внесення змін про цих осіб до Єдиного державного реєстру юридичних осіб, фізичних осіб-підприємців та громадських формувань.
  p Перелік документів щодо кожного випадку надання реєстраційних послуг попередньо узгоджується із нотаріусом.
// end popup-04

// begin popup-05
+popup-wrap('serv-05', 'Згода батьків на виїзд дитини за кордон')
  p Згода батьків (або одного з батьків) на виїзд дитини за кордон вимагається якщо дитина їде без супроводу одного із батьків (наприклад лише у супроводі матері чи родича, або іншої особи - вчителя, тренера, тощо). Така письмова згода оформляється у вигляді окремої заяви, на якій нотаріус засвідчує вірність підпису заявника. Для цього необхідно надати паспорт того з батьків, який надає згоду на поїздку дитини.
  p Приватному нотаріусу треба буде повідомити точне прізвище, ім'я та по-батькові дитини, що виїжджає за кордон, дату її народження, в яку саме країну їде дитина та на який строк, хто супроводжуватиме дитину під час поїздки та нестиме відповідальність за повернення дитини до України.
  p Зверніть увагу, що згідно чинного законодавства, згода батьків також вимагається й для виїзду дитини до Автономної республіки Крим та окремих районів Луганської та Донецької областей (місце проведення антитерористичної операції).
// end popup-05

// begin popup-06
+popup-wrap('serv-06', 'Засвідчення справжності підписів на документах')
  p Найчастіше нотаріально послуга засвідчення справжності підписів на документах надається щодо карток із зразками підписів для банків, статутів, протоколів, заяв, перекладів.
  p Документ, на якому нотаріус засвідчує справжність підпису особи, не повинен суперечити закону і не мати ознак правочину. Слід звернути увагу на те, що нотаріус не засвідчує дійсність фактів чи обставин, які викладені в документі, а лише справжність підпису особи, яка в ньому зазначена в якості підписанта. Якщо особа через хворобливий стан чи з інших поважних причин не здатна підписати документ власноручно, нотаріус може засвідчити підпис іншої особи за неї.
  p Не дозволяється засвідчувати підпис на документах, в яких стверджуються обставини, встановлення яких належить до компетенції спеціальних органів (наявність хвороби чи інвалідності, час народження чи смерті, шлюбу, право власності). Проте законодавство не забороняє засвідчувати підпис на такому документі, якщо він подається компетентних органів іншої держави.
// end popup-06

// begin popup-07
+popup-wrap('serv-07', 'Засвідчення вірності копій документів і витягів з них')
  p Перед засвідченням вірності копії чи витягу з документа, нотаріус особисто звіряє їх із оригіналом (неможливо засвідчити копію чи витяг без надання оригіналу документа нотаріусу). Копії документів, виданих юридичними особами, можуть бути засвідчені за умови, що вони:
  ol.custom-ol
    li.custom-ol__li не суперечать закону;
    li.custom-ol__li мають юридичне значення;
    li.custom-ol__li закон не забороняє засвідчення їх копій;
  p Не дозволяється засвідчення вірності копій документів, які є підставою для видачі інших документів компетентними органами, напр. довідки про народження дитини чи довідки про смерть, Такі довідки видаються медичними установами та є підставою, відповідно, для видачі інших документів - свідоцтва про народження або свідоцтва про смерть.
  p Засвідчення вірності копії з копії документа допускається лише в тому випадку, коли копія посвідченого документа вже була засвідчена нотаріально або юридичною особою, яка видала оригінал.
// end popup-07

// begin popup-08
+popup-wrap('serv-08', 'Видача свідоцтв про право на спадщину')
 p Спадкоємець, який має намір прийняти спадщину, має особисто подати нотаріусу заяву про прийняття спадщини за місцем відкриття спадщини (або надіслати її поштою, попередньо засвідчивши свій підпис у нотаріальному порядку). Подана таким чином заява є підставою для заведення нотаріусом спадкової справи. Подання заяви про прийняття спадщини через представника не допускається.
 p Загальний термін для прийняття спадщини (звернення до нотаріуса із заявою про прийняття спадщини) становить 6 місяців з дати відкриття спадщини (тобто з дати смерті спадкодавця).
 p При чому слід мати на увазі, що спадкоємець, який проживав разом із спадкодавцем на час відкриття спадщини, за законом вважатиметься таким, що прийняв спадщину (навіть без подання заяви про прийняття спадщини), якщо не звернеться до нотаріуса із заявою про відмову від спадщини. Правило автоматичного прийняття спадщини діє і для малолітніх та неповнолітніх дітей, недієздатних або осіб із обмеженою дієздатністю.
 p Спадкоємець має право отримати свідоцтво про право на спадщину через представника.
// end popup-08

//end popup-service