//begin popup-contacts
.popup-layer
.popup-wrap
  .popup
    .popup__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
    h3.popup__title Ваше повідомлення відправлено
    h4.popup__subtitle Ми зв'яжемось з Вами у найближчий час
//end popup-contacts