*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-family: $font;
  font-size: 16px;
  line-height: 1.38;
  color: $text;
}
body {
  min-width: 320px;
}
body.no-scroll {
  overflow: hidden;
}
body.fix {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0 0 10px 0;
}
h1 {
  font-family: $font-bold;
  font-size: 36px;
}
h2 {
  font-family: $font-bold;
  font-size: 32px;
}
h3 {
  font-family: $font-bold;
  font-size: 28px;
}
h4 {
  font-family: $font-bold;
  font-size: 24px;
}
h5 {
  font-family: $font-bold;
  font-size: 22px;
}
h6 {
  font-family: $font-bold;
  font-size: 20px;
}
p {
  font-size: 16px;
}
a {
  transition: color .5s;
  color: $link;
  &:hover {
    text-decoration: none;
    color: $link-hover;
  }
}
ol,
ul {
  li {
    padding: 3px 0;
  }
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  padding: 3px 10px 5px 10px;
  color: $text;
  border: 1px solid $text;
  &::placeholder {
    @include placeholder-color($text);
  }
}
textarea {
  resize: none;
}
//изменяем цвет выделения текста мышью
::selection {
  background-color: $brand;
}
.main {
  position: relative;
  // overflow-x: hidden;
  min-height: 100vh;
  padding-top: 130px;

  @include max(1023) {
    padding-top: 30px;
  }
}
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 30px;

  @include max(768) {
    padding: 10px 20px;
  }
}
.custom-ol__title,
.custom-ul__title {
  font-family: $font-title;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
}
.custom-ul {
  margin: 0;
  padding: 0;
}
.custom-ul__li {
  display: flex;
  margin-bottom: 10px;
  padding: 0;
  svg {
    flex: none;
    fill: $text;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    transition: fill .5s;
  }
}
.custom-ol {
  margin: 0;
  padding: 0;
  list-style: none;

  @include counter(li);
}
.custom-ol__li {
  display: flex;
  margin-bottom: 10px;
  padding: 0;
  &::before {
    font-family: $font-title;
    display: inline-block;
    margin-top: 1px;
    margin-right: 10px;
    text-transform: uppercase;
    color: $text;
  }
}