@font-face {
  font-family: GoboldCYR-LAT;
  src:  url('../fonts/GoboldCYR-LAT.woff2') format('woff2'),
        url('../fonts/GoboldCYR-LAT.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: AstakhovFirstSimple;
  src:  url('../fonts/AstakhovFirstSimple.woff2') format('woff2'),
        url('../fonts/AstakhovFirstSimple.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PosteRetro;
  src:  url('../fonts/PosteRetro.woff2') format('woff2'),
        url('../fonts/PosteRetro.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Verdana;
  src:  url('../fonts/Verdana.woff2') format('woff2'),
        url('../fonts/Verdana.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Verdana-Bold;
  src:  url('../fonts/Verdana-Bold.woff2') format('woff2'),
        url('../fonts/Verdana-Bold.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}
