// ***** main colors *******
$brand: #81b3b2;
$light: #f6edd8;
$shadow: #3f3f3f;
$highlight: #d55534;

// ***** text colors *******
$text: #3f3f3f;
$text-light: #f6edd8;
$text-highlight: #d55534;
$link: #d55534;
$link-hover: #b14225;

// ===== fonts =====
$font: 'Verdana', sans-serif;
$font-bold: 'Verdana-Bold', sans-serif;
$font-title: 'GoboldCYR-LAT', sans-serif;
$font-title-2: 'AstakhovFirstSimple', sans-serif;
$font-hero: 'PosteRetro', sans-serif;

// ===== sizes =====
$radius-button: 5px;
$radius-tab: 5px;
