extends ../_template

block variables
  - let title = '404 | Приватний нотаріус Гордієнко О.В.'
  - let description = 'Сайт приватного нотаріуса Гордієнко О.В.'
  - let ogtitle     = 'Приватний нотаріус Гордієнко О.В.'
  - let ogimage     = 'assets/img/social.jpg'

block content
  include ../sections/header
  
  //begin content
  section.main.hero
    .container
      .hero-banner
        h1.site-404__numb 404
        h2.site-404__title співчуваємо, але такої сторінки не існує
        h3.site-404__subtitle спробуйте скористатися меню, або зателефонуйте до нотаріуса
      .hero__phone
        a.hero__phone-link(href="tel:+380962374233") 
          span тел. 
          =" " 
          |096-237-42-33
    include ../sections/footer
  //end   content

  include ../sections/scripts