extends ../_template

block variables
  - var title = 'Про нотариуса'


block content
  include ../sections/header
  
  //begin content
  section.main.about
    .container
      section.about__wrap
        .about__pic
          img(src="assets/img/notarius-photo.jpg", alt="notary")

        header.about__header
          h2.about__header-name Гордієнко Ольга Валеріївна
          h3.about__header-position Приватний нотаріус Київського міського нотаріального округу

        .about__body
          p Я Дункан Маклауд, из клана Маклаудов. Родился 400 лет назад в горах Шотландии (хотя родовые земли клана Маклаудов находятся на Гебридских островах, и с горами там туговато) Коннор Маклауд, жил в племени, носил килт, питался кореньями и, по правилам хорошего тона того времени, сражался с соседними племенами. В одном из таких сражений его убили, но ему удалось выжить, и он стал Бессмертным (однако школота 90-х называла Горцами всех бессмертных). В племени его сочли Сотоной и изгнали. После этого его подобрал некто Рамирес, который и объяснил ему суть Бессмертной войны.
          p Я Дункан Маклауд, из клана Маклаудов. Родился 400 лет назад в горах Шотландии (хотя родовые земли клана Маклаудов находятся на Гебридских островах, и с горами там туговато) Коннор Маклауд, жил в племени, носил килт, питался кореньями и, по правилам хорошего тона того времени, сражался с соседними племенами. В одном из таких сражений его убили, но ему удалось выжить, и он стал Бессмертным (однако школота 90-х называла Горцами всех бессмертных). В племени его сочли Сотоной и изгнали. После этого его подобрал некто Рамирес, который и объяснил ему суть Бессмертной войны. Родился 400 лет назад в горах Шотландии (хотя родовые земли клана Маклаудов находятся на Гебридских островах, и с горами там туговато) Коннор Маклауд, жил в племени, носил килт, питался кореньями и, по правилам хорошего тона того времени, сражался с соседними племенами. В одном из таких сражений его убили, но ему удалось выжить, и он стал Бессмертным (однако школота 90-х называла Горцами всех бессмертных). В племени его сочли Сотоной и изгнали. После этого его подобрал некто Рамирес, который и объяснил ему суть Бессмертной войны.

          p Я Дункан Маклауд, из клана Маклаудов. Родился 400 лет назад в горах Шотландии (хотя родовые земли клана Маклаудов находятся на Гебридских островах, и с горами там туговато) Коннор Маклауд, жил в племени, носил килт, питался кореньями и, по правилам хорошего тона того времени, сражался с соседними племенами. В одном из таких сражений его убили, но ему удалось выжить, и он стал Бессмертным (однако школота 90-х называла Горцами всех бессмертных). В племени его сочли Сотоной и изгнали. После этого его подобрал некто Рамирес, который и объяснил ему суть Бессмертной войны.
          p Я Дункан Маклауд, из клана Маклаудов. Родился 400 лет назад в горах Шотландии (хотя родовые земли клана Маклаудов находятся на Гебридских островах, и с горами там туговато) Коннор Маклауд, жил в племени, носил килт, питался кореньями и, по правилам хорошего тона того времени, сражался с соседними племенами. В одном из таких сражений его убили, но ему удалось выжить, и он стал Бессмертным (однако школота 90-х называла Горцами всех бессмертных). В племени его сочли Сотоной и изгнали. После этого его подобрал некто Рамирес, который и объяснил ему суть Бессмертной войны. Родился 400 лет назад в горах Шотландии (хотя родовые земли клана Маклаудов находятся на Гебридских островах, и с горами там туговато) Коннор Маклауд, жил в племени, носил килт, питался кореньями и, по правилам хорошего тона того времени, сражался с соседними племенами. В одном из таких сражений его убили, но ему удалось выжить, и он стал Бессмертным (однако школота 90-х называла Горцами всех бессмертных). В племени его сочли Сотоной и изгнали. После этого его подобрал некто Рамирес, который и объяснил ему суть Бессмертной войны.

          .about__gallery
            .about__gallery-item
              .about__gallery-item-wrap
                a(href="assets/img/awards/2009-04.jpg" data-fancybox="awards")
                  img(src="assets/img/awards/mini/2009-04.jpg", alt="notary")
            .about__gallery-item
              .about__gallery-item-wrap
                a(href="assets/img/awards/2011-02.jpg" data-fancybox="awards")
                  img(src="assets/img/awards/mini/2011-02.jpg", alt="notary")
            .about__gallery-item
              .about__gallery-item-wrap
                a(href="assets/img/awards/2014-03.jpg" data-fancybox="awards")
                  img(src="assets/img/awards/mini/2014-03.jpg", alt="notary")
            .about__gallery-item
              .about__gallery-item-wrap
                a(href="assets/img/awards/2014-03-1.jpg" data-fancybox="awards")
                  img(src="assets/img/awards/mini/2014-03-1.jpg", alt="notary")
            .about__gallery-item
              .about__gallery-item-wrap
                a(href="assets/img/awards/2014-05.jpg" data-fancybox="awards")
                  img(src="assets/img/awards/mini/2014-05.jpg", alt="notary")
            .about__gallery-item
              .about__gallery-item-wrap
                a(href="assets/img/awards/2014-06.jpg" data-fancybox="awards")
                  img(src="assets/img/awards/mini/2014-06.jpg", alt="notary")
            // begin vertical image
            .about__gallery-item.about__gallery-item--vertical
              .about__gallery-item-wrap
                a(href="assets/img/awards/2013-10.jpg" data-fancybox="awards")
                  img(src="assets/img/awards/mini/2013-10.jpg", alt="notary")
            .about__gallery-item.about__gallery-item--vertical
              .about__gallery-item-wrap
                a(href="assets/img/awards/2014-11.jpg" data-fancybox="awards")
                  img(src="assets/img/awards/mini/2014-11.jpg", alt="notary")

    include ../sections/footer
  //end   content
  include ../sections/scripts