extends ../_template

mixin about__gallery-item(pic)
  .about__gallery-item
    .about__gallery-item-wrap(style="background-image: url('assets/img/awards/" + pic + "-thumb.jpg')")
      a(href="assets/img/awards/" + pic + ".jpg" data-fancybox="awards")

block variables
  - var title = 'Про нотариуса | Приватний нотаріус Гордієнко О.В.'
  - var description = 'Сайт приватного нотаріуса Гордієнко О.В.'
  - var ogtitle     = 'Приватний нотаріус Гордієнко О.В.'
  - var ogimage     = 'assets/img/social.jpg'


block content
  include ../sections/header

  //begin content
  section.main.about
    .container
      section.about__wrap
        .about__pic
          img(src="assets/img/notarius-photo.jpg", alt="notary")

        header.about__header
          h2.about__header-name Гордієнко Ольга Валеріївна
          h3.about__header-position Приватний нотаріус Київського міського нотаріального округу

        .about__body
          h3.about__body-title Шановні клієнти, вітаємо Вас на офіційному сайті приватного нотаріуса Ольги Гордієнко!

          p
            strong Гордієнко Ольга Валеріївна
            =" "
            |- приватний нотаріус Київського міського нотаріального округу. Її стаж роботи приватним нотаріусом - з 2007 року (загальний стаж роботи в юридичній професії - з 2000 року).
          p Офіс приватного нотаріуса розташований в Дарницькому районі міста Києва (офісна частина житлового комплексу «Артеміда») на Дарницькому бульварі, будинок 8-В, офіс 182.
          p В якості приватного нотаріуса Ольга Гордієнко надає послуги юридичним та фізичним особам. Звернувшись до офісу приватного нотаріуса Ви отримаєте вичерпну інформацію щодо законодавчого регулювання Вашого питання чи життєвої ситуації, отримаєте роз'яснення щодо Ваших цивільних прав та обов'язків, наслідків укладання тих чи інших угод. Будь-які відомості, які отримує приватний нотаріус від клієнта, зберігаються в якості нотаріальної таємниці, що охороняється законом. Основою роботи приватного нотаріуса Ольги Гордієнко є високий професіоналізм, досвід правозастосування, незалежність, неупередженість та дотримання професійної етики нотаріату.
          p Приватний нотаріус Ольга Гордієнко не лише має необхідну фахову юридичну освіту, але й постійно підтримує рівень професійних знань на високому рівні беручи участь у освітніх та наукових заходах, які проводять органи юстиції та нотаріату.
          p Юридичні та фізичні особи мають змогу отримати нотаріальні послуги як в зручному офісі приватного нотаріуса, так і на виїзді (за умови попереднього узгодження часу та вартості виїзду із нотаріусом).
          p Перевагою нотаріально посвідченого документу є те, що такий документ має захист від держави. Нотаріальний акт є публічно визнаним та має найвищу доказову силу. Додатковою гарантією захисту прав та майнових інтересів клієнтів, що звертаються до приватного нотаріуса, є обов'язкове страхування професійної відповідальності. Нотаріус з'ясовує точні наміри сторін правочину, встановлює особу, перевіряє наявні у сторін документи, надає консультації та поради щодо того, які документи потрібні для посвідчення правочину. У випадку втрати оригіналів посвідчених документів приватний нотаріус може надати дублікат угоди чи договору.
          p Коли Ви звертаєтесь до приватного нотаріуса Ольги Гордієнко, то можете бути переконані, що отримаєте максимально можливий захист своїх цивільних прав, який передбачено законодавством.

        .about__gallery#about__gallery
            +about__gallery-item("2009-04")
            +about__gallery-item("2011-02")
            +about__gallery-item("2014-03")
            +about__gallery-item("2014-03-1")
            +about__gallery-item("2014-05")
            +about__gallery-item("2014-06")
            +about__gallery-item("2013-10")
            +about__gallery-item("2014-11")

    include ../sections/footer
  //end   content
  include ../sections/scripts