extends ../_template

mixin about__gallery-item(pic)
  .about__gallery-item
    .about__gallery-item-wrap(style="background-image: url('assets/img/awards/" + pic + "-thumb.jpg')")
      a(href="assets/img/awards/" + pic + ".jpg" data-fancybox="awards")

block variables
  - var title = 'Про нотариуса | Приватний нотаріус Гордієнко О.В.'


block content
  include ../sections/header
  
  //begin content
  section.main.about
    .container
      section.about__wrap
        .about__pic
          img(src="assets/img/notarius-photo.jpg", alt="notary")

        header.about__header
          h2.about__header-name Гордієнко Ольга Валеріївна
          h3.about__header-position Приватний нотаріус Київського міського нотаріального округу

        .about__body
          p Почала нотаріальну практику в 2007 році.
          p Номер ліцензії 4548.
          p Стаж роботи приватним нотаріусом становить більше 10 років (загальний стаж роботи в юридичній професії більше 15 років).

        .about__gallery#about__gallery
            +about__gallery-item("2009-04")
            +about__gallery-item("2011-02")
            +about__gallery-item("2014-03")
            +about__gallery-item("2014-03-1")
            +about__gallery-item("2014-05")
            +about__gallery-item("2014-06")
            +about__gallery-item("2013-10")
            +about__gallery-item("2014-11")

    include ../sections/footer
  //end   content
  include ../sections/scripts