extends ../_template

block variables
  - var title = 'Супер статья'


block content
  include ../elements/stickyHeader
  
  //begin content
  section.main.article
    .container
      article.article__wrap
        img(src="assets/img/article/article-01.jpg", alt="my image").article__main-pic

        header.article__header
          h2.article__title Название супер статьи, которое может быть очень длинным.
          span.article__autor
            |автор
            =" "
            a(href="#") Гордиенко О.В.
            =" "
            | &#8260;&#8260;
            =" "
          span.article__header-tag
            |категория
            =" "
            a(href="#") деловодство,
            =" "
            a(href="#") нотариат
        .article__body
          .article__date
            span.article__date--day 05/03
            span.article__date--year 2017
          .article__text
            p Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в крепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций.
            p Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций.
            //- .article__pic.article__pic--right
            img(src="assets/img/article/article-02.jpg", alt="my image")
            p Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в крепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций.
            p Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций.

        
    include ../sections/footer
  //end   content
  include ../sections/scripts