extends ../_template

block variables
  - var title = 'Блог| Приватний нотаріус Гордієнко О.В.'


block content
  include ../sections/header
  
  //begin content
  section.main.blog
    .container
      header.top-header
        .top-header__left
          h2.top-header__title Мій блог
        .top-header__right
          p.top-header__text Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития.

      section.blog__body
        section.blog__list
          article.blog__article
            .blog__article-shadow
            .blog__article-pic-wrap
              .blog__article-pic(style="background-image:url(assets/img/article/article-01.jpg)")

            header.blog__article-header
              h3.blog__article-title Договір про визначення часток в праві спільної власності подружжя

              span.blog__article-autor
                |автор
                =" "
                a(href="#") Гордієнко О.В.
                =" "
                | &#8260;&#8260;
              span.blog__article-header-tag
                |категория
                a(href="#") договори,
                a(href="#") нотариат,
                a(href="#") МЕН
            .blog__article-body
              .blog__article-date
                span.blog__article-date--day 23/10
                span.blog__article-date--year 2014
              .blog__article-text
                p У ч. 1 ст. 368 Цивільного кодексу України (далі — ЦК України) наведено визначення спільної сумісної власності: «Спільною сумісною власністю є спільна власність двох або більше осіб без визначення часток кожного з них у праві власності».
                p Майно, набуте подружжям за час шлюбу, є їхньою спільною сумісною власністю, якщо інше не встановлено договором або законом (ч. 3 ст. 368 ЦК України).
                p Набуття майна у спільну сумісну власність подружжям є загалом найбільш поширеною підставою виникнення права спільної сумісної власності. Тому розглянемо укладення договору про визначення часток у праві спільної сумісної власності саме на прикладі подружжя1.
                p Видача свідоцтв про право власності на частку в спільному майні подружжя на сьогоднішній день можлива лише у випадку смерті одного з подружжя. В іншому випадку подружжя має право укласти договір, відповідно до якого самостійно визначає розмір частки кожного з них у праві спільної власності.
                p Частиною 1 ст. 64 Сімейного кодексу України (далі — СК України) передбачено, що дружина та чоловік мають право на укладення між собою усіх договорів, які не заборонені законом, як щодо майна, що є їхньою особистою приватною власністю, так і щодо майна, яке є об’єктом права спільної сумісної власності подружжя.
              a.blog__article-link-more(href="http://yurradnik.com.ua/stati/d0-b4-d0-be-d0-b3-d0-be-d0-b2-d1-96-d1-80-d0-bf-d1-80-d0-be-d0-b2-d0-b8-d0-b7-d0-bd-d0-b0-d1-87-d0-b5-d0-bd-d0-bd-d1-8f-d1-87-d0-b0-d1-81-d1-82-d0-be-d0-ba-d0-b2-d0-bf-d1-80-d0-b0-d0-b2-d1-96/" target="_blank" rel="nofollow noopener noreferrer") Читати далі...

              
          article.blog__article
            .blog__article-shadow
            .blog__article-pic-wrap
              .blog__article-pic(style="background-image:url(assets/img/article/article-02.jpg)")

            header.blog__article-header
              h3.blog__article-title Это вторая статья с очень очень длинным названием
              span.blog__article-autor
                |автор
                =" "
                a(href="#") Гордиенко О.В.
                =" "
                | &#8260;&#8260;
                =" "
              span.blog__article-header-tag
                |категория
                =" "
                a(href="#") деловодство,
                =" "
                a(href="#") нотариат
            .blog__article-body
              .blog__article-date
                span.blog__article-date--day 31/12
                span.blog__article-date--year 2016
              .blog__article-text
                p Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций.
                p Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций.
              a.blog__article-link-more(href="#") Читати далі...



        //-aside.blog__aside
          .blog__aside-item
            .blog__aside-header
              h4.blog__aside-title Пошук
              span.blog__aside-subtitle у моєму блозі
            form.blog__search-form
              input.blog__search-input(type='search', name='', placeholder='пошук')
              .blog__search-submit--wrap
                input.blog__search-submit(type='submit', name='', value='')
                svg.blog__search-svg
                  use(xlink:href="assets/img/sprite.svg#search")

          .blog__aside-item
            .blog__aside-header
              h4.blog__aside-title категорії
              span.blog__aside-subtitle Сортування статтей за тегами

            .blog__tag-list
              a.blog__tag(href="#") Розподіл майна
              a.blog__tag(href="#") Договори
              a.blog__tag(href="#") Законотворчість
              a.blog__tag(href="#") Ще один тег
              a.blog__tag(href="#") Спадкування
              a.blog__tag(href="#") Копії
              a.blog__tag(href="#") Розподіл майна
              a.blog__tag(href="#") Договори
              a.blog__tag(href="#") Копії
              a.blog__tag(href="#") Спадкування
              a.blog__tag(href="#") Законотворчість
              a.blog__tag(href="#") Ще один тег

        
    include ../sections/footer
  //end   content
  include ../sections/scripts