extends ../_template

block variables
  - var title = 'Контакти| Приватний нотаріус Гордієнко О.В.'


block content
  include ../sections/header

  //begin content
  section.main.contacts
    .container
      header.top-header
        .top-header__left
          h2.top-header__title Контакти
        .top-header__right
          p.top-header__text На цій сторінці ві маєте можливість дізнатися адресу нотаріуса, її телефон, e-mail та розклад роботи.
          p.top-header__text Також є можливість зв'язатися з нотаріусом, або заздалегідь назначити зустріч за допомогою форми зворотнього зв'зку.
          //p.top-header__text Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития. Равным образом укрепление и развитие структуры в значительной степени обуславливает создание позиций. Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие в формировании форм развития.

      section.contacts__body
        .contacts__left
          .contacts__connect-wrap
            header.contacts__header
              h2.contacts__title Контакти для зв'язку
            span.contacts__connect
              svg
                use(xlink:href="assets/img/sprite.svg#phone")
              a(href="tel:+380962374233") 096-237-42-33
            span.contacts__connect
              svg
                use(xlink:href="assets/img/sprite.svg#mail")
              a(href="mailto:olcha@ukr.net") olcha@ukr.net
            span.contacts__connect.contacts__connect--adress
              svg
                use(xlink:href="assets/img/sprite.svg#adress")
              a(href="https://goo.gl/maps/STVeKT6GGv52" target="_blank" rel="nofollow noopener noreferrer")
                |м.Київ, Дарницький б-р, 8-В, оф.182,
                br
                span код домофону 182
                br
                |(10 хвилин пішки від м.Дарниця)



          .contacts__schedule-wrap
            header.contacts__header
              h2.contacts__title Pозклад роботи

            .contacts__schedule
              span пн-пт: 10:00 - 18:00
              br
              span сб-нд: за попередньою домовленістю

            span.contacts__ahtung Увага!
            p Бажано заздалегідь зателефонувати до нотаріуса, та домовитись про зустріч, для зменшення часу Вашого очікування через те, що нотаріус буде працювати з іншими клієнтами які прийли за попереднім записом.



        .contacts__right
          .contacts__form-wrap
            header.contacts__header
              h2.contacts__title Надійшліть повідомлення для нотаріуса

            span.contacts__form-title Також Ви маєте можливість задавати свої запитання до нотаріуса за допомогою форми зворотнього зв'язку.

            form.contacts__form#contacts__form
              input(name='name' placeholder="Ваше прізвище та ім'я*" required)
              input(name='phone' placeholder="Ваш телефон*" required).phone-mask
              input(name='email' type="mail" placeholder="Ваш email")
              textarea(name='message' rows="5" placeholder="Ваше запитання до нотаріуса...*" required)
              span.contacts__form-note * поля які обов'язкові для заповнення.
              button.btn Відправити

        .contacts__map#contacts__map


    include ../sections/footer
  //end   content
  include ../sections/scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdGbaaf94NCuCkoH98Ry12HA59U0eTqIA&callback=initMap" async defer)
  script.
    // begin contacts-map
    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('contacts__map'), {
        center: {lat: 50.4649, lng: 30.6094},
        zoom: 18,
        // theme name - Discreet
        styles: [{
          "featureType": "administrative",
          "elementType": "all",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "administrative",
          "elementType": "labels",
          "stylers": [{"visibility": "on"}, {"color": "#716464"}, {"weight": "0.01"}]
        }, {
          "featureType": "administrative.country",
          "elementType": "labels",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "landscape.natural",
          "elementType": "geometry",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "landscape.natural.landcover",
          "elementType": "geometry",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "poi",
          "elementType": "all",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "poi",
          "elementType": "geometry.fill",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "poi",
          "elementType": "geometry.stroke",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "poi",
          "elementType": "labels.text",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "poi",
          "elementType": "labels.text.fill",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "poi",
          "elementType": "labels.text.stroke",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "poi.attraction",
          "elementType": "geometry",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "road",
          "elementType": "all",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "road.highway",
          "elementType": "all",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [{"visibility": "simplified"}, {"color": "#a05519"}, {"saturation": "-13"}]
        }, {
          "featureType": "road.local",
          "elementType": "all",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "transit",
          "elementType": "all",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "transit.station",
          "elementType": "geometry",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "water",
          "elementType": "all",
          "stylers": [{"visibility": "simplified"}, {"color": "#84afa3"}, {"lightness": 52}]
        }, {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [{"visibility": "on"}]
        }, {"featureType": "water", "elementType": "geometry.fill", "stylers": [{"visibility": "on"}]}]
      });

      var marker = new google.maps.Marker({
        // Определяем позицию маркера
        position: {
          lat: 50.465170,
          lng: 30.608960
        },
        map: map,
        title: 'Приватний нотариус Гордієнко Ольга Валеріївна',
        icon: 'assets/img/marker.png',
      });
    }
    // end   contacts-map
