extends ../_template

block variables
  - var title = 'Приватний нотаріус Гордієнко О.В.'
  - var description = 'Сайт приватного нотаріуса Гордієнко О.В.'
  - var ogtitle     = 'Приватний нотаріус Гордієнко О.В.'
  - var ogimage     = 'assets/img/social.jpg'

block content
  include ../sections/header
  
  //begin content
  section.main.hero
    .container
      .hero-banner
        h1.hero__title
          //-.new-year-hat
          |Приватний нотаріус
        h2.hero__subtitle Гордієнко Ольга Валеріївна
        .ribbon
          h3.ribbon__text Київський міський нотаріальний округ

      .hero__phone
        //-a.hero__phone-link(href="tel:+380962374233")
        a.hero__phone-link(href="tel:+380960000000")
          span тел.
          =" " 
          //|096-237-42-33
          |096-000-00-00
    include ../sections/footer
  //end   content
  include ../sections/scripts