extends ../_template

block variables
  - var title = 'Корисні посилання| Приватний нотаріус Гордієнко О.В.'


block content
  include ../sections/header
  
  //begin content
  section.main.links
    .container
      header.top-header
        .top-header__left
          h2.top-header__title Посилання
        .top-header__right
          p.top-header__text На цій сторінці Ви маєте змогу отримати доступ до пошукових систем різноманітних баз данних, офіційних сайтів державних організацій та інших корисних ресурсів, які мають відношення до вчинення нотаріальних дій.
          p.top-header__text Ці посилання будуть поновлюватись і доповнюватися в міру появи нових цікавих ресурсів

      section.links__body
        // begin link 01
        .links-item
          a.links-item__link-more(href="http://zakon2.rada.gov.ua/laws" target="_blank" rel="nofollow noopener noreferrer")
          .links-item__shadow
          header.links-item__header
            h3.links-item__title Законодавство України
          .links-item__text
            p База даних "Законодавство України" призначена для широкого кола користувачів. Пошукова система дозволяє швидко знайти документи, як за реквізитами, так і за контекстом.
            p База даних "Законодавство України" містить документи:
            ul
              li Верховної Ради України;
              li Президента України;
              li Кабінету Міністрів України;
              li Органів вищої судової гілки влади України;
              li Міністерств і відомств, що зареєстровані в Міністерстві юстиції;
              li Міжнародні документи.
            p
              |База даних "Законодавство України" має інформаційний характер і не є офіційним друкованим виданням. Вона використовується згідно із
              a(href="http://zakon2.rada.gov.ua/laws/show/699/15-%D1%80%D0%B3" target="_blank" rel="nofollow noopener noreferrer") Положенням про веб-ресурси Верховної Ради України.
          .links-item__more
            span Читати далі...
        // end link 01

        // begin link 02
        .links-item
          a.links-item__link-more(href="https://usr.minjust.gov.ua/ua/extractsearch" target="_blank" rel="nofollow noopener noreferrer")
          .links-item__shadow
          header.links-item__header
            h3.links-item__title Єдиний державний реєстр юридичних осіб, фізичних осіб-підприємців та громадських формувань
          .links-item__text
            p Пошук виконується за всіма запитами, що надаються з Єдиного державного реєстру юридичних осіб, фізичних осіб-підприємців та громадських формувань державними реєстраторами, наданими через Реєстраційний портал та оформленими через цей сайт.
            p Для завантаження запиту необхідно внести у форму пошуку його ідентифікатор – "унікальний номер" запиту та його дату.
            p Завантаження запитів за "унікальним номером" можливе протягом одного року з моменту їх створення.
            p "Унікальний номер" електронного запиту надається запитувачу одразу після внесення плати за отримання відомостей.
          .links-item__more
            span Читати далі...
        // end link 02

        // begin link 03
        .links-item
          a.links-item__link-more(href="https://erb.minjust.gov.ua/#/search-debtors" target="_blank" rel="nofollow noopener noreferrer")
          .links-item__shadow
          header.links-item__header
            h3.links-item__title Єдиний реєстр боржників
          .links-item__text
            p Це систематизована база даних про боржників, що є складовою автоматизованої системи виконавчого провадження України та ведеться з метою оприлюднення в режимі реального часу інформації про невиконані майнові зобов'язання боржників та запобігання відчуженню боржниками майна.
            p Відомості про боржника вносяться до Єдиного реєстру боржників одночасно з винесенням постанови про відкриття виконавчого провадження. Не вносяться до реєстру відомості щодо боржників, якими є державні органи, органи місцевого самоврядування, боржники, які не мають заборгованості за виконавчим документом про стягнення періодичних платежів більше трьох місяців, та боржники за рішеннями немайнового характеру.
          .links-item__more
            span Читати далі...
        // end link 03

        // begin link 04
        .links-item
          a.links-item__link-more(href="https://wanted.mvs.gov.ua/passport" target="_blank" rel="nofollow noopener noreferrer")
          .links-item__shadow
          header.links-item__header
            h3.links-item__title Пошук паспорта громадянина України серед викрадених та втрачених
          .links-item__text
            p Сервіс створений для пошуку паспорту громадянина України серед викрадених та втрачених.
            p Для пошуку потрібно ввести серію та номер паспорту громадянина України у вказаному форматі (дві літери та 6 цифр, для ID паспорту поле «Серія» залишається пустим, а в поле «Номер» вводяться 9 цифр).
            p Натисніть кнопку «Знайти».
          .links-item__more
            span Читати далі...
        // end link 04

        // begin link 05
        .links-item
          a.links-item__link-more(href="http://reyestr.court.gov.ua/" target="_blank" rel="nofollow noopener noreferrer")
          .links-item__shadow
          header.links-item__header
            h3.links-item__title Єдиний державний реєстр судових рішень
          .links-item__text
            p Єдиний державний реєстр судових рішень (ЄДРСР) — автоматизована система збирання, зберігання, захисту, обліку, пошуку та надання електронних копій судових рішень. До реєстру вносяться усі рішення судів України у цивільних, адміністративних, господарських справах, справах про адміністративні правопорушення та кримінальних провадженнях.
            p Оприлюднення судових рішень і наповнення реєстру відбувається в результаті взаємодії адміністративного персоналу судів і адміністраторів і операторів реєстру. Оператори реєстру — це штатні працівники ДП «Судові інформаційні системи», робоче місце яких розташоване в приміщенні кожного суду.
          .links-item__more
            span Читати далі...
        // end link 05

        // begin link 06
        .links-item
          a.links-item__link-more(href="https://kap.minjust.gov.ua/services?keywords=" target="_blank" rel="nofollow noopener noreferrer")
          .links-item__shadow
          header.links-item__header
            h3.links-item__title Кабінет електронних сервісів
          .links-item__text
            p Загальна частина Кабінету пропонує:
            ul
              li Отримання документів з державних реєстрів Міністерства юстиції України в режимі on-line
              li Реєстраційні дії у державних реєстрах України в електронному вигляді
              li Пошук інформації у державних реєстрах України
              li Користування електронними системами звітності для тих осіб, які здійснюють спеціалізовану професійну діяльність
              li Посилання на різні інформаційні джерела
              li Пошук законодавчих документів, шаблонів (зразків) документів
              li Участь в електронних торгах арештованим майном

          .links-item__more
            span Читати далі...
        // end link 06

        // begin link 07
        .links-item
          a.links-item__link-more(href="http://yurradnik.com.ua/perevirka-identifikatsiynogo-nomeru/" target="_blank" rel="nofollow noopener noreferrer")
          .links-item__shadow
          header.links-item__header
            h3.links-item__title Перевірка ідентифікаційного номера за датою народження
          .links-item__text
            p За допомогою цього сервісу Ви зможете швидко перевірити онлайн чи існує в Україні певний ідентифікаційний код, перевірити чи співпадають дати народження надані фізичною особою і отриманій інформації по іпн фізичної особи в Україні онлайн, чи співпадає стать з інформацією отриманої за ідентифікаційним кодом з інформацією по  іпн фізичної особи в Україні.
            p Для перевірки іпн онлайн в Україні вам необхідно ввести ідентифікаційний код Україна і ви зможете отримати інформацію по іпн онлайн фізичної особи таку як дату народження власника ідентифікаційного номера іпн в Україні, стать власника ідентифікаційного номера іпн в Україні, і чи існує взагалі такий ідентифікаційний номер іпн в Україні.
          .links-item__more
            span Читати далі...
        // end link 07

        // begin link 08
        .links-item
          a.links-item__link-more(href="http://dsk.kievcity.gov.ua/content/pereymenuvannya-vulyc-dekomunizaciya.html" target="_blank" rel="nofollow noopener noreferrer")
          .links-item__shadow
          header.links-item__header
            h3.links-item__title Перелік вулиць у місті Києві, які перейменовані протягом 2014-2017 років
          .links-item__text
            p Повний перелік вулиць столиці України, які після прийняття закону про декомунізацію отримали нові назви.
            p Для топоніміки Києва 2016 рік став унікальним: десятки вулиць, площ, проспектів, бульварів і провулків столиці змінили свою назву.
            p У липні відбулося, мабуть, найгучніше перейменування: проспект Московський отримав ім'я Степана Бандери.
            p Але якщо ім'я проспекту, названого на честь легендарного лідера українського опору, запам'ятати легко, то серед багатьох інших нових столичних топонімів кияни часто плутаються.
            p Нижче - таблиця, в якій перераховані всі нові і старі назви топонімів в алфавітному порядку.
          .links-item__more
            span Читати далі...
        // end link 08

        // begin link 09
        .links-item
          a.links-item__link-more(href="http://91.205.16.115/declarate/list.php?sort=num&order=DESC&clear=Y" target="_blank" rel="nofollow noopener noreferrer")
          .links-item__shadow
          header.links-item__header
            h3.links-item__title Дозвільні документи Державної архітектурно-будівельної інспекції України
          .links-item__text
             p Державна архітектурно-будівельна інспекція України (ДАБІ України) — центральний орган виконавчої влади, діяльність якого спрямовується і координується Кабінетом Міністрів України через Віце-прем'єр-міністра України — Міністра регіонального розвитку, будівництва та житлово-комунального господарства України і який реалізує державну політику з питань державного архітектурно-будівельного контролю та нагляду.
             p Держархбудінспекція, зокрема:
             ul
               li веде єдиний реєстр дозвільних документів;
               li отриманих повідомлень про початок виконання підготовчих та будівельних робіт;
               li зареєстрованих декларацій про початок виконання підготовчих і будівельних робіт;
               li виданих дозволів на виконання будівельних робіт;
               li зареєстрованих декларацій про готовність об'єкта до експлуатації та виданих сертифікатів;
               li повернених декларацій та відмов у видачі таких дозволів і сертифікатів;
               li реєструє повідомлення та декларації про початок виконання підготовчих та будівельних робіт (І-ІІІ категорія складності будівництва). У разі неналежного оформлення цих документів повертає їх суб'єктам подання;
               li видає дозволи на виконання будівельних робіт (ІV-V категорія складності будівництва), відмовляє у видачі цих дозволів та у визначених законодавством випадках їх анулює;
               li приймає в експлуатацію закінчені будівництвом об'єкти (видає відповідні сертифікати, реєструє декларації про готовність об'єкта до експлуатації та повертає такі декларації);
               li а також виданих ліцензій провадження господарської діяльності, пов'язаної зі створенням об'єктів архітектури.
          .links-item__more
            span Читати далі...
        // end link 09

        // begin link 10
        .links-item
          a.links-item__link-more(href="http://npu.org.ua/" target="_blank" rel="nofollow noopener noreferrer")
          .links-item__shadow
          header.links-item__header
            h3.links-item__title Нотаріальна палата України
          .links-item__text
            p Нотаріальна палата України (НПУ) – недержавна неприбуткова організація, що здійснює професійне самоврядування у сфері нотаріату.  Об’єднує нотаріусів усієї України, працює на підвищення професійних стандартів, захист прав та інтересів нотаріусів, прагне до гідного сприйняття нотаріату, його ролі і місця в правовій системі держави.
            p Палата була створена 29 березня 2013 року, і з моменту державної реєстрації – 19 квітня 2013 року  – її членами стають всі нотаріуси, які працюють у державних нотаріальних конторах, державних нотаріальних архівах або здійснюють приватну нотаріальну діяльність. Згода нотаріуса на набуття членства в НПУ не потребується. НПУ налічує близько 7000 членів з усієї країни.
          .links-item__more
            span Читати далі...
        // end link 10

        // begin link 11
        .links-item
          a.links-item__link-more(href="http://vnpu.kiev.ua/" target="_blank" rel="nofollow noopener noreferrer")
          .links-item__shadow
          header.links-item__header
            h3.links-item__title Відділення Нотаріальної палати України в м. Києві
          .links-item__text
            p 29 березня 2013 року нотаріусами України на установчому з’їзді, що відбувся в м.Києві, було створено самоврядну професійну організацію нотаріусів – Нотаріальну палату України.
            p 10 січня 2014 року на позачерговому з’їзді нотаріусів України було прийнято рішення про створення Відділень Нотаріальної палати України в областях, містах Києві та Севастополі.
            p 25 березня 2015 року на загальних зборах нотаріусів міста Києва, шляхом відкритого голосування, було обрано Правління та Голову  Відділення.
            p Відділення Нотаріальної палати України в м.Києві є представництвом Нотаріальної палати України на території міста Києва та забезпечує організаційну єдність членів Нотаріальної палати України. Відділення є відокремленим структурним підрозділом Нотаріальної палати України і не є юридичною особою, діє на підставі затвердженого Положення, має окремий рахунок та печатку.
          .links-item__more
            span Читати далі...
        // end link 11

        // begin link 12
        .links-item
          a.links-item__link-more(href="http://www.justicekyiv.gov.ua/" target="_blank" rel="nofollow noopener noreferrer")
          .links-item__shadow
          header.links-item__header
            h3.links-item__title Головне територіальне управління юстиції в м. Києві
          .links-item__text
            p Головне територіальне управління юстиції у місті Києві — територіальний орган Міністерства юстиції України, головний орган юстиції у місті Києві.
            p Напрями діяльності
            ul
              li Державна виконавча служба
              li Відділ організаційної роботи, документування та контролю
              li Державна реєстрація актів цивільного стану
              li Банкрутство
              li Управління персоналу
              li Нотаріат
              li Сектор зв'язків з громадськістю Головного територіального управління юстиції у місті Києві
              li Управління фінансового та матеріально-технічного забезпечення
              li Управління державної реєстрації Головного територіального управління юстиції у місті Києві
              li Управління реєстрації нормативно правових актів, правової роботи та правової освіти
              li Сектор з питань забезпечення діяльності Урядового уповноваженого у справах Європейського суду з прав людини Головного територіального управління юстиції у місті Києві
              li Управління судової роботи та міжнародного співробітництва Головного територіального управління юстиції у місті Києві
          .links-item__more
            span Читати далі...
        // end link 12

    include ../sections/footer
  //end   content
  include ../sections/scripts