extends ../_template

block variables
  - var title = 'Оформлення договоров'


block content
  include ../sections/header
  
  //begin content
  section.main.servis
    .container
      header.servis-header
        h2.servis-header__title Оформлення договорчегов

      section.servis-type
        h3.servis-header__subtitle Оформлення договорчегов простеньких
        p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. То сих рукописи предупредила lorem! Коварных семантика курсивных домах рот толку языкового собрал букв несколько дороге грамматики, дал, его, деревни! Безопасную, вопроса жаренные. Даль но сбить текста свою города, что. 
        p Предупредила взгляд инициал языком взобравшись, дорогу имеет рукописи которой свою наш возвращайся дороге единственное жизни. Маленькая выйти заманивший продолжил рукописи буквоград знаках щеке от всех своего свой сбить он живет lorem своего грустный буквенных последний алфавит до что раз, себя переписывается она. Послушавшись, гор. Города вскоре он, всеми, агенство над языкового запятой переписали встретил текст маленький даль безорфографичный, это жизни возвращайся.
        h4.custom-ul__title Я заголовок списка
        ul.custom-ul
          li.custom-ul__li  
            svg
              use(xlink:href="assets/img/sprite.svg#checkmark")
            span Далеко-далеко за словесными горами в стране.
          li.custom-ul__li  
            svg
              use(xlink:href="assets/img/sprite.svg#checkmark")
            span Далеко-далеко за словесными горами.
          li.custom-ul__li  
            svg
              use(xlink:href="assets/img/sprite.svg#checkmark")
            span Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
          li.custom-ul__li  
            svg
              use(xlink:href="assets/img/sprite.svg#checkmark")
            span Далеко-далеко за словесными горами в стране, гласных и согласных живут.
          li.custom-ul__li  
            svg
              use(xlink:href="assets/img/sprite.svg#checkmark")
            span Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое назад, безопасную, лучше lorem страну ipsum последний себя, буквоград грустный которой языком повстречался выйти.
        p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семь скатился, необходимыми журчит своих, буквоград ее города ipsum меня.

      section.servis-type
        h3.servis-header__subtitle Оформлення договорчегов с перепоподвыподвертом и фильдиперсами
        p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. То сих рукописи предупредила lorem! Коварных семантика курсивных домах рот толку языкового собрал букв несколько дороге грамматики, дал, его, деревни! Безопасную, вопроса жаренные. Даль но сбить текста свою города, что. 
        p Предупредила взгляд инициал языком взобравшись, дорогу имеет рукописи которой свою наш возвращайся дороге единственное жизни. Маленькая выйти заманивший продолжил рукописи буквоград знаках щеке от всех своего свой сбить он живет lorem своего грустный буквенных последний алфавит до что раз, себя переписывается она. Послушавшись, гор. Города вскоре он, всеми, агенство над языкового запятой переписали встретил текст маленький даль безорфографичный, это жизни возвращайся.
        h4.custom-ol__title Я заголовок нумероваого списка
        ol.custom-ol
          li.custom-ol__li  Далеко-далеко за словесными горами в стране.
          li.custom-ol__li  Далеко-далеко за словесными горами.
          li.custom-ol__li  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
          li.custom-ol__li  Далеко-далеко за словесными горами в стране, гласных и согласных живут.
          li.custom-ol__li  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое назад, безопасную, лучше lorem страну ipsum последний себя, буквоград грустный которой языком повстречался выйти.
        p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семь скатился, необходимыми журчит своих, буквоград ее города ipsum меня.


        
    include ../sections/footer
  //end   content
  include ../sections/scripts