extends ../_template

mixin services__item(bgImg, serviceTitle)
  .services__item
    .services__pic(style=`${bgImg}`)
    .services__icon
      svg
        use(xlink:href="assets/img/sprite.svg#pen")
    h3.services__title #{serviceTitle}
    a(href="#").services__link

block variables
  - var title = 'Послуги | Приватний нотаріус Гордієнко О.В.'
  - var description = 'Приватний нотаріус Ольга Гордієнко надає повний перелік нотаріальних послуг та вчиняє будь-які нотаріальні дії, передбачені законодавством. Звернувшись до нотаріуса Ви можете отримати такі документи: довіреності, згоди батьків на виїзд дітей за кордон, згоди подружжя або співвласників на відчуження майна, заповіти, оформлення права власності на спадщину, нотаріально посвідчені договори (купівля-продаж, оренда, застава, іпотека, попередні договори та ін.), накладення та зняття заборони відчуження майна, виконавчі написи, посвідчення фактів, надання відомостей з єдиних та державних реєстрів.'
  - var ogtitle     = 'Перелік нотаріальних послуг'
  - var ogimage     = 'assets/img/social.jpg'


block content
  include ../sections/header
  
  //begin content
  section.main.services
    .container
      header.top-header
        .top-header__left
          h2.top-header__title Послуги
        .top-header__right
          p.top-header__text Приватний нотаріус Ольга Гордієнко надає повний перелік нотаріальних послуг та вчиняє будь-які нотаріальні дії, передбачені законодавством. Звернувшись до нотаріуса Ви можете отримати такі документи: довіреності, згоди батьків на виїзд дітей за кордон, згоди подружжя або співвласників на відчуження майна, заповіти, оформлення права власності на спадщину, нотаріально посвідчені договори (купівля-продаж, оренда, застава, іпотека, попередні договори та ін.), накладення та зняття заборони відчуження майна, виконавчі написи, посвідчення фактів, надання відомостей з єдиних та державних реєстрів.

      section.services__list
        +services__item('background-image:url(assets/img/services-item-01.jpg)', 'Договори')
        +services__item('background-image:url(assets/img/services-item-01.jpg)', 'Заяви')
        +services__item('background-image:url(assets/img/services-item-01.jpg)', 'Довіренності')
        +services__item('background-image:url(assets/img/services-item-01.jpg)', 'Заповіти')
        +services__item('background-image:url(assets/img/services-item-01.jpg)', 'Копії')
        +services__item('background-image:url(assets/img/services-item-01.jpg)', 'Переклади')
        +services__item('background-image:url(assets/img/services-item-01.jpg)', 'Спадщина')
        +services__item('background-image:url(assets/img/services-item-01.jpg)', 'Інші дії')
        
    include ../sections/footer
  //end   content
  include ../sections/scripts