// begin article-prev-01
article.blog__article
  .blog__article-shadow
  .blog__article-pic-wrap
    .blog__article-pic(style="background-image:url(assets/img/article/article-2014-06.jpg)")

  header.blog__article-header
    h2.blog__article-title
      a.blog__article-link(href="http://yurradnik.com.ua/stati/d0-b4-d0-be-d0-b3-d0-be-d0-b2-d1-96-d1-80-d0-bf-d1-80-d0-be-d0-b2-d0-b8-d0-b7-d0-bd-d0-b0-d1-87-d0-b5-d0-bd-d0-bd-d1-8f-d1-87-d0-b0-d1-81-d1-82-d0-be-d0-ba-d0-b2-d0-bf-d1-80-d0-b0-d0-b2-d1-96/" target="_blank" rel="nofollow noopener noreferrer").
        Договір про визначення часток в праві спільної власності подружжя

    span.blog__article-autor
      | автор -
      =" "
      a(href="about.html") Гордієнко О.В.

  .blog__article-body
    .blog__article-date
      span.blog__article-date--day 15/06
      span.blog__article-date--year 2014
    .blog__article-text
      p У ч. 1 ст. 368 Цивільного кодексу України (далі — ЦК України) наведено визначення спільної сумісної власності: «Спільною сумісною власністю є спільна власність двох або більше осіб без визначення часток кожного з них у праві власності».
      p Майно, набуте подружжям за час шлюбу, є їхньою спільною сумісною власністю, якщо інше не встановлено договором або законом (ч. 3 ст. 368 ЦК України).
      p Набуття майна у спільну сумісну власність подружжям є загалом найбільш поширеною підставою виникнення права спільної сумісної власності. Тому розглянемо укладення договору про визначення часток у праві спільної сумісної власності саме на прикладі подружжя1.

    a.blog__article-link-more(href="http://yurradnik.com.ua/stati/d0-b4-d0-be-d0-b3-d0-be-d0-b2-d1-96-d1-80-d0-bf-d1-80-d0-be-d0-b2-d0-b8-d0-b7-d0-bd-d0-b0-d1-87-d0-b5-d0-bd-d0-bd-d1-8f-d1-87-d0-b0-d1-81-d1-82-d0-be-d0-ba-d0-b2-d0-bf-d1-80-d0-b0-d0-b2-d1-96/" target="_blank" rel="nofollow noopener noreferrer") Читати далі...
// end article-prev-01
