// begin article-prev-04
article.blog__article
  .blog__article-shadow
  .blog__article-pic-wrap
    .blog__article-pic(style="background-image:url(assets/img/article/article-2018-06.jpg)")

  header.blog__article-header
    a.blog__article-title(href="novi-pravyla-hry-dlia-tov.html").
      Нові правила гри для ТОВ

    span.blog__article-autor
      | автор -
      =" "
      a(href="about.html") Гордієнко О.В.

  .blog__article-body
    .blog__article-date
      span.blog__article-date--day 18/06
      span.blog__article-date--year 2018
    .blog__article-text
      p 16 червня 2018 року набув чинності Закон України «Про товариства з обмеженою та додатковою відповідальністю» (далі – «Закон про ТОВ»). Нового змісту набули правовідносини щодо створення та діяльності ТОВ (з Цивільного кодексу України повністю виключено підрозділ 4 § 1 глави 8 "4. Товариство з обмеженою відповідальністю").
      p Віднині кількість учасників ТОВ законом не обмежується (раніше максимальна кількість учасників товариства з обмеженою відповідальність не могла становити більше 100 осіб).
      p Скорочено строк, протягом якого учасник має повністю сплатити свою частку в статутному капіталі товариства. За новими правилами, кожен учасник товариства повинен повністю внести свій вклад протягом шести місяців з дати державної реєстрації товариства, якщо інше не передбачено статутом (раніше цей строк був удвічі довший та становив один рік). Проте, Закон про ТОВ дозволяє учасникам цей строк змінити самостійно (як збільшити, так і зменшити), або взагалі виключити його. Для цього потрібне їх одностайне голосування та відповідні зміни до статуту.

    a.blog__article-link-more(href="novi-pravyla-hry-dlia-tov.html") Читати далі...
// end article-prev-04
