// begin article-prev-03
article.blog__article
  .blog__article-shadow
  .blog__article-pic-wrap
    .blog__article-pic(style="background-image:url(assets/img/article/article-2014-12.jpg)")

  header.blog__article-header
    h2.blog__article-title
      a.blog__article-link(href="http://yurradnik.com.ua/stati/spadkuvannya-neruhomosti-z-inozemnim-elementom" target="_blank" rel="nofollow noopener noreferrer").
        Спадкування нерухомості з іноземним елементом

    span.blog__article-autor
      | автор -
      =" "
      a(href="about.html") Гордієнко О.В.

  .blog__article-body
    .blog__article-date
      span.blog__article-date--day 24/12
      span.blog__article-date--year 2014
    .blog__article-text
      p Під умовною назвою «спадкування нерухомості з іноземним елементом» розглянемо такі випадки:
      p - коли спадкодавець — нерезидент мав на території  України нерухоме майно;
      p - коли спадкодавець — резидент мав нерухоме майно за межами України.
      p Загальні умови оформлення такої спадщини містяться в ст. 71 Закону України «Про міжнародне приватне право»: спадкування нерухомого майна регулюється правом держави, на території якої знаходиться це майно, а майна, яке підлягає державній реєстрації в Україні, — правом України.

    a.blog__article-link-more(href="http://yurradnik.com.ua/stati/spadkuvannya-neruhomosti-z-inozemnim-elementom" target="_blank" rel="nofollow noopener noreferrer") Читати далі...
// end article-prev-03
