// begin article-prev-02
article.blog__article
  .blog__article-shadow
  .blog__article-pic-wrap
    .blog__article-pic(style="background-image:url(assets/img/article/article-2014-10.jpg)")

  header.blog__article-header
    h2.blog__article-title
      a.blog__article-link(href="http://yurradnik.com.ua/stati/timchasovo-okupovana-teritoriya-ukrayini-yaki-problemi-vinikayut-u-notarialniy-praktitsi" target="_blank" rel="nofollow noopener noreferrer").
        Тимчасово окупована територія україни. Які проблеми виникають у нотаріальній практиці?

    span.blog__article-autor
      | автор -
      =" "
      a(href="about.html") Гордієнко О.В.

  .blog__article-body
    .blog__article-date
      span.blog__article-date--day 21/10
      span.blog__article-date--year 2014
    .blog__article-text
      p У зв’язку з сумнозвісними подіями у 2014 році частина території України опинилася під окупацією Російської Федерації. Цивільний обіг на цих територіях зазнав певного колапсу. Дію Єдиних та Державних реєстрів було припинено. Вчинення нотаріальних дій фактично зупинилось і на сьогоднішній день на тимчасово окупованій території не діє жоден український нотаріус (див. наказ Міністерства юстиції України від 07.07.2014 № 1087/5).
      p 27.04.2014 набрав чинності Закон України № 1207-VII «Про забезпечення прав і свобод громадян та правовий режим на тимчасово окупованій території України» (далі — Закон № 1207). У ст. 3 Закону № 1207 встановлено, що для цілей цього Закону тимчасово окупованою територією визначається:

    a.blog__article-link-more(href="http://yurradnik.com.ua/stati/timchasovo-okupovana-teritoriya-ukrayini-yaki-problemi-vinikayut-u-notarialniy-praktitsi" target="_blank" rel="nofollow noopener noreferrer") Читати далі...
// end article-prev-02
