extends ../_template

block variables
  - var title = 'Нові правила гри для ТОВ | Приватний нотаріус Гордієнко О.В.'
  - var description = 'Сайт приватного нотаріуса Гордієнко О.В.'
  - var ogtitle     = 'Нові правила гри для ТОВ'
  - var ogimage     = '/assets/img/article/article-2018-07.jpg'

  mixin share-fb(shareLink, shareTitle, shareSiteName)
    a.article-share__link.article-share__link--fb(href='https://www.facebook.com/sharer.php?u=' +
    'http://notary-office.kiev.ua/' + shareLink + '&amp;t=' + shareTitle + '' , target='_blank')
      svg
        use(xlink:href="assets/img/sprite.svg#facebook")

  mixin share-tw(shareLink, shareTitle, shareSiteName)
    a.article-share__link.article-share__link--tw(href='https://twitter.com/share?url=' +
    'http://notary-office.kiev.ua/' + shareLink + '&amp;text=' + shareTitle + '&amp;"', target='_blank') 
      svg
        use(xlink:href="assets/img/sprite.svg#twitter")

  mixin share-in(shareLink, shareTitle, shareSiteName)
    a.article-share__link.article-share__link--in(href='http://www.linkedin.com/shareArticle?mini=true&url=' +
    'http://notary-office.kiev.ua/' + shareLink + '&title=' + shareTitle + '&summary=&source=' + shareSiteName + '', target='_blank') 
      svg
        use(xlink:href="assets/img/sprite.svg#linkedin")

block content
  include ../sections/header

  //begin content
  section.main.article
    .container
      article.article__wrap
        img(src="assets/img/article/article-2018-06.jpg", alt="Нові правила гри для ТОВ").article__main-pic

        header.article__header
          h2.article__title Нові правила гри для товариств з обмеженою та додатковою відповідальністю

          span.article__autor
            |автор -
            =" "
            a(href="about.html") Гордієнко О.В.

        .article__body
          .article__date
            span.article__date--day 18/06
            span.article__date--year 2018
          .article__text
            p 16 червня 2018 року набув чинності Закон України «Про товариства з обмеженою та додатковою відповідальністю» (далі – «Закон про ТОВ»). Нового змісту набули правовідносини щодо створення та діяльності ТОВ (з Цивільного кодексу України повністю виключено підрозділ 4 § 1 глави 8 "4. Товариство з обмеженою відповідальністю").
            p Віднині кількість учасників ТОВ законом не обмежується (раніше максимальна кількість учасників товариства з обмеженою відповідальність не могла становити більше 100 осіб).
            p Скорочено строк, протягом якого учасник має повністю сплатити свою частку в статутному капіталі товариства. За новими правилами, кожен учасник товариства повинен повністю внести свій вклад протягом шести місяців з дати державної реєстрації товариства, якщо інше не передбачено статутом (раніше цей строк був удвічі довший та становив один рік). Проте, Закон про ТОВ дозволяє учасникам цей строк змінити самостійно (як збільшити, так і зменшити), або взагалі виключити його. Для цього потрібне їх одностайне голосування та відповідні зміни до статуту.
            p Із набуттям чинності нового Закону про ТОВ, перестають діяти обмеження, згідно яких було заборонено звільняти учасників від обов'язку вносити вклад до статутного капіталу шляхом зарахування вимог до товариства. Скасування цього обмеження надає нових можливостей товариствам реструктурувати боргові зобов'язання та відновлювати платоспроможність.
            p Деталізовані правила виходу учасників з товариства. Зокрема, учасник, частка якого в статутному капіталі не перевищує 50% може вийти з товариства в будь-який час без згоди інших учасників (якщо частка становить 50% чи більше, то такий учасник зможе вийти лише за згодою інших учасників). Законом прямо заборонено виходити з товариства учаснику, якщо внаслідок цього у товаристві не залишиться учасників (ТОВ з одним учасником).
            p Закон про ТОВ, зокрема, вносить зміни до кола осіб, що мають право звертатися до державного реєстратора (нотаріуса) для вчинення тих чи інших реєстраційних дій відносно товариства. Засновники - подають документи для державної реєстрації створення товариства. Товариство - подає документи реєстратору при визначенні розміру статутного капіталу та розмірів часток учасників, при виключенні учасника з товариства, а також в інших випадках внесення змін до відомостей про юридичну особу до Єдиного державного реєстру юридичних осіб, фізичних осіб-підприємців та громадських формувань. При вступі до товариства у разі смерті чи ліквідації учасника документи подають його спадкоємці чи правонаступники. Якщо учасник виходить з товариства, до реєстратора звертаються його правонаступники/спадкоємці або учасник, який виходить з товариства.

        footer.article__footer
          a(href="blog.html").article__back-link
            svg
              use(xlink:href="assets/img/sprite.svg#back")
            |Повернутися до блогу
          .article-share
            +share-fb('novi-pravyla-hry-dlia-tov.html', 'Нові правила гри для ТОВ', 'Сайт приватного нотаріуса Гордієнко О.В.')
            +share-in('novi-pravyla-hry-dlia-tov.html', 'Нові правила гри для ТОВ', 'Сайт приватного нотаріуса Гордієнко О.В.')
            +share-tw('novi-pravyla-hry-dlia-tov.html', 'Нові правила гри для ТОВ', 'Сайт приватного нотаріуса Гордієнко О.В.')




  include ../sections/footer
  //end   content
  include ../sections/scripts
