extends ../_template

block variables
  - var title = 'Зміни щодо правил оцінки вартості майна для правочинів | Приватний нотаріус Гордієнко О.В.'
  - var description = 'Сайт приватного нотаріуса Гордієнко О.В.'
  - var ogtitle     = 'Зміни щодо правил оцінки вартості майна для правочинів'
  - var ogimage     = 'http://notary-office.kiev.ua/assets/img/article/article-2018-07.jpg'

mixin share-fb(shareLink, shareTitle)
  a.article-share__link.article-share__link--fb(href='https://www.facebook.com/sharer.php?u=' +
  'http://notary-office.kiev.ua/' + shareLink + '&amp;t=' + shareTitle + '' , target='_blank' rel="nofollow noopener noreferrer")
    svg
      use(xlink:href="assets/img/sprite.svg#facebook")

mixin share-tw(shareLink, shareTitle)
  a.article-share__link.article-share__link--tw(href='https://twitter.com/share?url=' +
  'http://notary-office.kiev.ua/' + shareLink + '&amp;text=' + shareTitle + '', target='_blank' rel="nofollow noopener noreferrer")
    svg
      use(xlink:href="assets/img/sprite.svg#twitter")

mixin share-in(shareLink, shareTitle)
  a.article-share__link.article-share__link--in(href='http://www.linkedin.com/shareArticle?mini=true&url=' +
  'http://notary-office.kiev.ua/' + shareLink + '&title=' + shareTitle + '', target='_blank' rel="nofollow noopener noreferrer")
    svg
      use(xlink:href="assets/img/sprite.svg#linkedin")

block content
  include ../sections/header

  //begin content
  .main.article
    .container
      article.article__wrap
        img(src="assets/img/article/article-2018-07.jpg", alt="Зміни щодо правил оцінки вартості майна для правочинів").article__main-pic

        header.article__header
          h2.article__title
            | Зміни щодо правил оцінки
            br
            | вартості майна для правочинів

          span.article__autor
            | автор -
            =" "
            a(href="about.html") Гордієнко О.В.

        .article__body
          .article__date
            span.article__date--day 20/07
            span.article__date--year 2018
          .article__text
            p Починаючи з 18 липня 2018 року, почали діяти нові правила ведення єдиної бази звітів про оцінку майна, які використовуються нотаріусами при посвідченні правочинів, в наслідок яких виникає обов'язок сплатити податок чи відповідний збір. Ці зміни суттєво вплинули на супутні витрати при посвідченні таких правочинів. Нові правила стосуються порядку ведення Фондом державного майна єдиної бази звітів про оцінку вартості майна та націлені на запобігання випадкам заниження ринкової вартості майна та, таким чином, уникнення оподаткування.
            p 17 травня 2018 року наказом Фонду державного майна України № 658 був затверджений Порядок ведення єдиної бази даних звітів про оцінку, який зареєстрований у Міністерстві юстиції України 05 червня 2018 року за № 677/32129. Цей порядок визначає механізм ведення Фондом державного майна України (далі - Фонд) єдиної бази даних звітів про оцінку, що застосовується для цілей обчислення доходу платника податку - фізичної особи від продажу (обміну) майна (крім випадків успадкування та/або отримання у дарунок майна, вартість якого оподатковується за нульовою ставкою), у випадках, передбачених Податковим кодексом України, розміщення, використання, зберігання в ній інформації зі звіту про оцінку майна та документів про нерухоме, рухоме майно та майнові права.
            p Таким чином, звіти про оцінку майна, виконані спеціалістами з оцінки, можуть застосовуватися лише за умови, якщо вони виконані та зареєстровані в єдиній базі даних після 18 липня 2018 року. Невикористані до 18 липня 2018 року включно, звіти про оцінку вартості майна, що були виконані та зареєстровані до цієї дати, підлягають повторній реєстрації.
            p Перед посвідченням правочину щодо нерухомого майна нотаріус перевіряє реєстрацію звіту, наданого стороною правочину, в єдиній базі даних звітів, використовуючи для цього пароль доступу до бази, який міститься в самому звіті суб'єкта оціночної діяльності. Нотаріус зобов'язаний перевірити відповідність змісту звіту в єдиній базі даних та паперового носія цього звіту. У випадку розбіжностей між електронною формою звіту та його паперовим носієм, нотаріус відмовляє в посвідченні правочину.
            p Зміни в порядку ведення єдиної бази даних звітів про оцінку майна вплинули на вартість супутніх витрат сторін правочину. Замовникам звітів про оцінку вартості майна доведеться додатково компенсувати вартість перевірки реєстрації звіту в єдиній базі даних, яку виконує нотаріус.
            p Вважаємо, що звіти про оцінку вартості майна, які виконані та подані нотаріусу до набуття чинності новим порядком (до 18 липня 2018 року) для цілей оформлення права на спадщину, не потребують перереєстрації у Фонді державного майна.

        footer.article__footer
          a(href="blog.html").article__back-link
            svg
              use(xlink:href="assets/img/sprite.svg#back")
            | Повернутися до блогу
          .article-share
            +share-fb('zminyshchodo-pravyl-otsinky-vartosti-maina-dlia-pravochyniv.html', 'Зміни_щодо_правил_оцінки_вартості_майна_для_правочинів')
            +share-in('zminyshchodo-pravyl-otsinky-vartosti-maina-dlia-pravochyniv.html', 'Зміни_щодо_правил_оцінки_вартості_майна_для_правочинів')
            +share-tw('zminyshchodo-pravyl-otsinky-vartosti-maina-dlia-pravochyniv.html', 'Зміни_щодо_правил_оцінки_вартості_майна_для_правочинів')

  include ../sections/footer
  //end   content
  include ../sections/scripts
