.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 80px;
  background-color: #81b3b2;
  background-image: url('../img/bg-green.jpg');

  @include max(768) {
    padding-top: 50px;
  }
  &::before {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    display: block;
    content: '';
    pointer-events: none;
    border: 2px dashed #557272;
  }
  .container {
    height: 100%;
    padding-top: 0;
  }
}
.hero-banner {
  text-align: center;
}
.hero__title,
.hero__subtitle {
  font-family: $font-hero;
  text-transform: lowercase;
  color: $text-light;
}
.hero__title {
  font-size: 80px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 10px;
  text-shadow: 4px 4px 0 #7caeac, 8px 8px 0 $shadow;

  @include max(1180) {
    font-size: 60px;
  }
  @include max(880) {
    font-size: 50px;
    text-shadow: 2px 2px 0 #7caeac, 5px 5px 0 $shadow;
  }
  @include max(500) {
    font-size: 40px;
  }
  @include max(375) {
    font-size: 32px;
    text-shadow: 2px 2px 0 #7caeac, 4px 3px 0 $shadow;
  }
}
.hero__subtitle {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 10px;
  text-shadow: 3px 3px 0 #7caeac, 6px 6px 0 $shadow;

  @include max(1180) {
    font-size: 38px;
    letter-spacing: 7px;
  }
  @include max(880) {
    font-size: 34px;
    text-shadow: 1px 1px 0 #7caeac, 4px 4px 0 $shadow;
  }
  @include max(500) {
    font-size: 24px;
  }
  @include max(375) {
    font-size: 19px;
    text-shadow: 1px 1px 0 #7caeac, 2px 3px 0 $shadow;
  }
}
.ribbon {
  position: relative;
  display: inline-block;
  padding: 15px 80px 38px 80px;
  background-image: url('../img/ribbon.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  @include max(500) {
    padding: 15px 50px 38px 50px;
  }
  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 165px;
    height: 9px;
    margin: auto;
    content: '';
    background-image: url('../img/ribbon-points.png');

    @include max(880) {
      width: 90px;
    }
  }
  &::before {
    left: -180px;

    @include max(880) {
      left: -100px;
    }
    @include max(640) {
      display: none;
    }
  }
  &::after {
    right: -180px;

    @include max(880) {
      right: -100px;
    }
    @include max(640) {
      display: none;
    }
  }
}
.ribbon__text {
  font-family: $font-title-2;
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;

  @include max(880) {
    font-size: 14px;
  }
  @include max(500) {
    font-size: 12px;
    margin-top: 8px;
  }
  @include max(375) {
    margin-top: 9px;
    font-size: 10px;
  }
}
.hero__phone {
  text-align: center;
}
.hero__phone-link {
  font-family: $font-title;
  font-size: 22px;
  display: inline-block;
  transition: .5s;
  animation: shakeHeroPhone 15s infinite;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-light;
  text-shadow: 2px 2px 2px $shadow;

  @include max(500) {
    font-size: 20px;
    margin-top: -20px;
  }
  &:hover {
    animation: none;
    text-shadow: none;
  }
  span {
    font-size: 16px;

    @include max(500) {
      font-size: 12px;
    }
  }
}
@keyframes shakeHeroPhone {
  1% {
    transform: rotateZ(3deg);
  }
  1.5% {
    transform: rotateZ(-3deg);
  }
  2% {
    transform: rotateZ(3deg);
  }
  2.5% {
    transform: rotateZ(0deg);
  }
}
